<header class="header">
    <div class="grid">
        <div class="textos-header">
            <h1 class="weigth-400">
                Aplicacion de vehiculos <span class="weigth-600">FerrariSoft</span>
            </h1>
            <p class="parrafo">
                En esta aplicacion puedes vincularte con nosotros y trabajar 
                con la gran variedad de vehiculos que contamos.
            </p>
        </div>
        <div class="img-header"><img src="assets/carro_home.jpg" class="img" /></div>
    </div>


</header>